aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
asyncio==3.4.3
attrs==24.3.0
beautifulsoup4==4.13.3
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
colorlog==6.9.0
contourpy==1.3.1
cowsay==6.1
cycler==0.12.1
dotenv==0.9.9
emoji==2.11.1
fonttools==4.56.0
fortune==1.1.1
frozenlist==1.5.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
googleapis-common-protos==1.68.0
grizzled-python==2.2.0
grpcio==1.70.0
grpcio-status==1.70.0
hikari==2.1.0
hikari-lightbulb==2.3.5.post1
hikari-toolbox==0.1.7
httplib2==0.22.0
humanize==4.12.1
idna==3.10
ImageHash==4.3.2
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
marisa-trie==1.2.1
matplotlib==3.10.0
multidict==6.1.0
numpy==2.2.3
packaging==24.2
pillow==11.1.0
pilmoji==2.0.4
propcache==0.3.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyWavelets==1.8.0
requests==2.32.3
rsa==4.9
scipy==1.15.2
six==1.17.0
soupsieve==2.6
tqdm==4.67.1
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
uvloop==0.21.0
wordcloud==1.9.4
yarl==1.18.3
